---
layout: default
title: Home
---

<section class="about-me">
    <div class="section-title">
        <h2><span>Who the heck is Marco Pelegrini?</span></h2>
    </div>
    <div class="row">
        <div class="col-md-6 mb-30px">
            <div class="h-100">
                Find out reading <a href="{{ site.baseurl }}/about">more about me</a>.
            </div>
        </div>
    </div>
</section>

{% if page.url == "/" and site.featured-posts == "enabled" %}
<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>
{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>My projects</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

