---
layout: default
title: pelegrini.ca
---

<section class="about-me">
    <div class="section-title">
        <h2><span>Who is Marco Pelegrini?</span></h2>
    </div>
    <p><em>I'm a seasoned software architect and engineer, but also a father and lifelong learner who's shaped by curiosity, responsibility, and the desire to build things that matter. I'm working to channel both my technical expertise and personal values into products and initiatives that create real impact and improve people's lives. Years of hands-on engineering, running my own business, and navigating complex projects—along with the resilience and perspective gained from my personal journey—make me uniquely qualified to deliver results with both vision and discipline.</em></p>
    <p class="signature">— Marco Pelegrini</p>
    <div class="row">
        <div class="col-md mb-30px">
            <div class="h-100">
                <a href="{{ site.baseurl }}/about">
                    <i class="fa-solid fa-question"></i>  About me
                </a>
            </div>
        </div>
        <div class="col-md mb-30px">
            <div class="h-100">
                <a href="{{ site.baseurl }}/testimonials">
                    <i class="fa-solid fa-comments"></i> Testimonials
                </a>
            </div>
        </div>
        <div class="col-md mb-30px">
            <div class="h-100">
                <a href="{{ site.baseurl }}/inspirations">
                    <i class="fa-solid fa-lightbulb"></i> Inspirations
                </a>
            </div>
        </div>
        <div class="col-md mb-30px">
            <div class="h-100">
                <a href="https://www.linkedin.com/in/mpelegrini" target="_blank">
                    <i class="fab fa-linkedin-in"></i> My career
                </a>
            </div>
        </div>
        <div class="col-md mb-30px">
            <div class="h-100">
                <a href="https://www.instagram.com/mrpelegrini/" target="_blank">
                    <i class="fab fa-instagram"></i> Life photos
                </a>
            </div>
        </div>
        <div class="col-md mb-30px">
            <div class="h-100">
                <a href="#" data-bs-toggle="modal" data-bs-target="#contactModal">
                    <i class="fa-solid fa-envelope"></i> Contact me
                </a>
            </div>
        </div>
    </div>
</section>

{% if page.url == "/" and site.featured-posts == "enabled" %}
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>
{% endif %}

<section class="recent-posts">

    <div class="section-title">
        <h2><span>My projects</span></h2>
    </div>

    <div class="row listrecent">
        {% for post in paginator.posts %}

        {% unless post.private == true %}
        {% include postbox.html %}
        {% endunless %}

        {% endfor %}
    </div>

</section>

<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

