---
layout: default
title: Private Projects
permalink: /private
robots: noindex, nofollow
---

<section class="about-me">
    <div class="section-title">
        <h2><span>Private Projects</span></h2>
    </div>
    <p class="text-center text-muted">These are projects that are not publicly listed but can be accessed directly.</p>
</section>

<section class="recent-posts">

    <div class="section-title">
        <h2><span>Private posts</span></h2>
    </div>

    <div class="row listrecent">
        {% for post in site.posts %}

        {% if post.private == true %}
        {% include postbox.html %}
        {% endif %}

        {% endfor %}
    </div>

</section>
