<div id="homepage-header-img">
   <img src="{{ 'assets/img/logo2.svg' | relative_url }}" id="logo-header" class="float-left">
   <hr style="border-top: 1px solid #fff; border-bottom: none; margin: 10px auto 0;" class="width-container" id="header-hr">
   <div id="homepage-intro">
      <h1 style="font-size: 32px;">Hardware, Software, Lifeware, Hackware</h1>
      At pelegrini.ca <i>(well, it's just me for now... Marco)</i>,<br/>you can find hardware, software, and life projects,<br/>and how to hack all of the above.
   </div>
</div>