<div class="share sticky-top sticky-top-offset">
  <p>Share</p>
  <ul>
    <li class="ml-1 mr-1">
      <a
        target="_blank"
        href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
      >
        <i class="fab fa-twitter"></i>
      </a>
    </li>

    <li class="ml-1 mr-1">
      <a
        target="_blank"
        href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}"
        onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>

    <li class="ml-1 mr-1">
      <a
        target="_blank"
        href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}"
        onclick="window.open(this.href, 'width=550,height=435');return false;"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>

    <li class="ml-1 mr-1">
      <a
        href="#"
        onclick="navigator.clipboard.writeText('{{ page.url | absolute_url }}');this.innerHTML='<i class=\'fas fa-check\'></i>';setTimeout(() => {this.innerHTML='<i class=\'fas fa-link\'></i>';}, 2000);return false;"
        title="Copy link"
      >
        <i class="fas fa-link"></i>
      </a>
    </li>
  </ul>
  <div class="sep"></div>
  <p>Like</p>
  <ul>
    <li class="ml-1 mr-1">
      <a href="{{ page.url | absolute_url }}" class="love-button">
        {% include love-heart-svg.html %}
      </a>
    </li>
  </ul>
  {% if page.comments != false %}
  <div class="sep"></div>
  <ul>
    <li>
      <a class="small smoothscroll" href="#disqus_thread"></a>
    </li>
  </ul>
  {% endif %}
</div>
