// Base Typography and General Styles
a {
  color: #00ab6b;
  transition: all 0.2s;
  text-decoration: none;

  &:hover {
    color: #038252;
    text-decoration: none;
  }
}

pre {
  box-sizing: border-box;
  border: 1px solid #e3edf3;
  width: 100%;
  padding: 7px;
  font-family: monospace, sans-serif;
  font-size: 0.9rem;
  white-space: pre;
  overflow: auto;
  background: #fff;
  line-height: 1.6;
  color: #333;
  margin-bottom: -rem;
}

blockquote {
  border-left: 4px solid #00ab6b;
  padding: 0 20px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

img {
  max-width: 100%;

  &[alt="fivehundred"] {
    width: 500px;
  }

  &[alt="marco"] {
    width: 600px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

iframe {
  max-width: 100%;
}

@media screen and (min-width: 1500px) {
  html {
    font-size: 18px;
  }
  
  .container {
    max-width: 80%;
  }
}
