// Card and List Styles
.listfeaturedtag {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  .wrapthumbnail {
    height: 290px;
    flex: 0 0 auto;
    height: 100%;
  }

  .card,
  .card-footer {
    border: 0;
  }

  .thumbnail {
    background-size: cover;
    height: 100%;
    display: block;
    background-position: 38% 22% !important;
    background-origin: border-box !important;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .card-block {
    padding-left: 0;
  }

  h2.card-title {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.25;
  }

  h4.card-text {
    color: rgba(0, 0, 0, 0.44);
    font-size: 0.95rem;
    line-height: 1.6;
    font-weight: 400;
  }

  @media (max-width: 991px) {
    .card {
      height: auto;
    }

    .wrapfooter {
      position: relative;
      margin-top: 30px;
    }

    .card-block {
      padding: 20px;
    }
  }

  @media (min-width: 576px) {
    &.card-columns {
      column-count: 2;
    }
  }
}

.listrecent {
  h2.card-title {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.25;
  }

  h4.card-text {
    color: rgba(0, 0, 0, 0.44);
    font-size: 0.95rem;
    line-height: 1.6;
    font-weight: 400;
  }
}

.maxthumb {
  max-height: 300px;
  overflow: hidden;
}

.featured-box-img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;

  @media (max-width: 991px) {
    height: auto;
    width: 100%;
  }
}

.listrelated .card {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  border: 0;
}

.card .img-fluid {
  width: 100%;
}
