// Footer Styles
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.44);
  margin-top: 50px;
  margin-bottom: 62px;
  position: relative;
  background: #fff;
}

.link-dark {
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 999px) {
  .footer {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
