// Navigation Styles
.mediumnavigation {
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
  transition: top 0.2s ease-in-out;

  .form-control {
    font-size: 0.8rem;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.09);
    min-width: 180px;
  }

  .form-inline {
    margin-left: 15px;

    .btn {
      margin-left: -50px;
      border: 0;
      border-radius: 30px;
      cursor: pointer;

      &:hover,
      &:active {
        background: transparent;
        color: green;
      }
    }
  }

  .navbar-brand {
    font-weight: 500;

    img {
      max-height: 30px;
      margin-right: 5px;
    }
  }

  .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin: 0.5rem 0 0;
  }

  .nav-item,
  .dropdown-menu {
    font-size: 0.9rem;
  }

  .navbar-text {
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}
