// Share Button Styles
.share {
  text-align: center;
  color: rgba(0, 0, 0, 0.44);
  fill: rgba(0, 0, 0, 0.44);

  p {
    margin-bottom: 10px;
    font-size: 0.95rem;
  }

  a {
    color: rgba(0, 0, 0, 0.44);
    fill: rgba(0, 0, 0, 0.44);
  }

  ul {
    padding-left: 0;
    margin-left: 0;

    li {
      display: inline-block;
      margin-bottom: 9px;

      i.fa {
        border: 1px solid #ddd;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
      }

      @media (min-width: 1024px) {
        display: block;
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 30px;
  }
}

.svgIcon {
  vertical-align: middle;
}
